@import "../base/media";
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	/* .header__container */

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 24px;
		padding-bottom: 24px;
	}

	&__container {
		@include tablet {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		@include mobail-ss {
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}

	&__logo {
		@include mobail-sm {
			width: 130px;
		}
		@include mobail {
			width: 129px;
		}

		@include mobail-ss {
			width: 80px;
		}
	}

	&__link {
		display: block;

		@include mobail-ss {
			display: none;
		}
	}
}
