// дз
.hero {
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.76) 60%, rgba(0, 0, 0, 1) 100%),
		image-set(
			url("../../img/bg-hero@2x.avif") type("image/avif") 2x,
			url("../../img/bg-hero.avif") type("image/avif"),
			url("../../img/bg-hero.webp") type("image/webp")
		);
	padding-bottom: 60px;
	padding-top: calc(476 / 1440 * 100%);

	@include tablet {
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.76) 60%, rgba(0, 0, 0, 1) 100%),
			image-set(
				url("../../img/bg-hero-1024.jpg"),
				url("../../img/bg-hero-1024.avif") type("image/avif"),
				url("../../img/bg-hero-1024@2x.jpg") 2x
			);
	}

	@include tablet-sm {
		padding-top: calc(337 / 1024 * 100%);
		padding-bottom: 50px;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.76) 60%, rgba(0, 0, 0, 1) 100%),
			image-set(
				url("../../img/bg-hero-768.avif") type("image/avif"),
				url("../../img/bg-hero-768@2x.avif") type("image/avif"),
				url("../../img/bg-hero-768.jpg"),
				url("../../img/bg-hero-768@2x.jpg")
			);
	}

	@include mobail {
		padding-top: calc(337 / 768 * 100%);
		padding-bottom: 40px;
	}

	@include mobail-s {
		padding-top: calc(173 / 320 * 100%);
		padding-bottom: 30px;
		background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 45%, rgba(0, 0, 0, 0.76) 60%, rgba(0, 0, 0, 1) 100%),
			image-set(
				url("../../img/bg-hero-320.avif") type("image/avif"),
				url("../../img/bg-hero-320.jpg"),
				url("../../img/bg-hero-320@2x.jpg") 2x
			);
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
	}

	&__banner {
		width: 795px;
		max-width: 100%;
		margin-bottom: 2px;

		@include tablet-sm {
			width: 639px;
		}
	}

	&__date {
		font-weight: 600;
		font-size: 40px;
		text-transform: uppercase;
		color: var(--button-colors);
		margin-bottom: 16px;

		@include tablet-sm {
			font-size: 32px;
		}

		@include mobail-sm {
			margin-bottom: 12px;
		}

		@include mobail-s {
			font-size: 20px;
		}
	}

	&__arrow {
		width: 64px;
		height: 64px;
		@include mobail-sm {
			width: 36px;
			height: 36px;
		}

		&:hover {
			color: var(--button-colors);
		}
	}

	&__link {
		display: none;

		@include mobail-ss {
			display: block;
			padding-top: 12px;
			margin-bottom: 32px;
		}
	}
}
